body {
  padding: 0;
  margin: 0 10px;
  color: #5e5e5e;
  font-family: "Roboto", sans-serif;
}

table {
  width: 300px;
  table-layout: fixed;
  position: fixed;
  top: 0;
  padding-top: 10px;
  background-color: #fff;
  z-index: 1;
}
td,
tr {
  width: 300px;
  border: none;
}
input {
  margin-left: 5px;
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  position: absolute;
  -webkit-appearance: none;
}
#autocomplete {
  color: #999;
  background-color: #f5f5f5;
}
input {
  padding: 7px 5px;
  box-sizing: border-box;
}
#suggestions {
  position: relative;
  top: 50px;
}
#suggestions div {
  padding: 10px 10px 0px 10px;
  margin: 0 8px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 4px;
}

#suggestions a {
  text-decoration: none;
  font-size: smaller;
  color: #0062ad;
}

#suggestions div:hover {
  font-weight: bold;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ddd;
}

@media only screen and (max-width: 600px) {
  table,
  td,
  tr,
  input {
    width: 97%;
  }
}
